<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>brazil</servlet-name>
		<servlet-class>com.google.corp.productivity.specialprojects.Gae2Servlet</servlet-class>
		<init-param>
       <param-name>config</param-name>
       <param-value>baseconfig</param-value>
    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>brazil</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name> 
    </auth-constraint>
  </security-constraint>
</web-app>
